@font-face {
  font-family: "Andika";
  src: url("./AndikaNewBasic-Custom-R.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Andika";
  src: url("./AndikaNewBasic-Custom-B.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Andika";
  src: url("./AndikaNewBasic-Custom-I.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Andika";
  src: url("./AndikaNewBasic-Custom-BI.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("./FiraSans.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans Extra Condensed";
  src: url("./FiraSansCondensed.ttf") format("truetype");
  font-display: swap;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: "Andika", sans-serif;
  height: 100vh;
  margin: 0;
}

body {
  margin: 0;
}

.andika {
  font-family: "Andika", sans-serif;
}

header,
nav,
footer,
main,
div.inter {
  padding: 8px 12px;
  scroll-behavior: smooth;
}

main {
  flex: 1;
  font-size: 18px;
  line-height: 30px;
  overflow: auto;
  padding: 0;
}

p {
  margin: 2px;
  font-family: Andika, Solera, sans-serif;
}

footer {
  display: flex;
  flex-direction: column;
}

a {
  transition: all 180ms;
}

.bp5-dark h1 a,
.bp5-dark h1 a:visited,
.bp5-dark h1 a:active,
.bp5-dark h1 a:hover {
  text-decoration: none;
  color: #f6f7f9;
}

#center,
#root {
  display: flex;
  overflow: auto;
}

#center {
  flex-direction: row;
  flex: 1;
}

#root {
  flex-direction: column;
  flex: 1;
}

#footer-message {
  align-self: center;
  flex: 1;
  display: flex;
}

#usertext,
#usertext:visited {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 24px;
  display: flex;
}

#versions {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 22px;
  line-height: 1.1;
}

.alert {
  padding: 12px 18px 20px;
  color: white;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 18px;
}

.error-alert {
  color: #f2dede;
  background-color: #b94a48;
  border-color: #973c3b;
}

.success-alert {
  color: #dff0d8;
  background-color: #458a45;
  border-color: #346635;
}

.message-alert {
  color: #d9edf7;
  background-color: #387fa2;
  border-color: #2a607b;
}

.close-button {
  margin-left: 10px;
  color: inherit;
  font-weight: bold;
  float: right;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
}

.alert-container {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px 22px;
}

body.bp5-dark {
  background-color: #252a31;
}

header,
footer {
  background-color: #452798;
}

header {
  padding-top: 4px;
}

header h1.bp5-heading,
header h2.bp5-heading,
header h3.bp5-heading {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1rem;
}

header .bp5-divider {
  display: inline-block;
  height: 2rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  margin-right: 1rem;
}

.g-column h4.bp5-heading {
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
}

.sc {
  font-variant-caps: small-caps;
}

.fit {
  width: fit-content;
}

.flex-center {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.margin-auto {
  margin: auto;
  margin-top: 2rem;
}

.margin-2 {
  margin: 2rem;
}

.margin-2-bottom {
  margin-bottom: 2rem;
}

.dragging {
  opacity: 0.4;
}

.pick-profile {
  display: grid;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.card-popup-heading {
  font-size: 22px;
  line-height: 25px;
  padding-left: 6px; /* For some reason, the icon has a negative margin-left which causes it to get cut off, this avoids it */
}

.card-popup-heading .bp5-editable-text {
  min-height: 36px;
  line-height: 36px;
}

/* fix weird behaviour */
.bp5-non-ideal-state > .bp5-fill.bp5-button-group {
  flex-grow: 0;
  flex-shrink: 0;
}

.thin-header {
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.card-popup-section,
.card-popup-section.inline.hybrid + div {
  margin-bottom: 1rem;
}

.card-popup-section > .heading,
.card-popup-section.inline.hybrid {
  margin-bottom: 0.5rem;
}

.card-popup-section:last-child,
.card-popup-section.inline.hybrid + div:last-child,
.card-popup-section.inline.hybrid:last-child {
  margin-bottom: 0;
}

.card-popup-section.inline {
  display: grid;
  grid-template-columns: min-content auto;
}

.card-popup-section.inline > .heading {
  margin-right: 1rem;
  width: max-content;
  margin-bottom: auto;
  margin-top: 6px;
}

.card-popup-section.inline > .value-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-selector-container {
  min-height: 500px;
  min-width: 360px;
}

.tag-selector-inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tag-selector-fill {
  flex-grow: 1;
}

.tag-selector-row {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  width: 100%;
}

.tag-selector-preview {
  display: flex;
  justify-content: center;
  margin: 0 0 15px;
}

.tag-selector-inner .drag-handle {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 8px;
}

.drag-handle {
  cursor: grab;
}

.drag-handle.disabled {
  cursor: not-allowed;
}

.comment-area {
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.comment-area .avatar {
  margin-right: 1rem;
}

.comment-area .comment-title {
  margin-bottom: 0.4rem;
}

.comment-area .comment-title .name {
  font-size: 16px;
}

.comment-area .comment-title .timestamp {
  margin-left: 0.3rem;
  font-size: 13px;
}

.comment-area .bp5-callout {
  width: fit-content;
}

.comment-area .bp5-callout p:last-child {
  margin-bottom: 0;
}

.card-properties {
  line-height: 0;
  margin-top: 4px;
}

footer p {
  display: inline-block;
  padding-right: 0.6rem;
  margin: 0;
}

.avatar {
  border-radius: 50%;
}

.g-card,
.g-card-width {
  width: 256px;
}

.g-menu-card {
  min-width: 256px;
  min-height: 96px;
  max-width: fit-content;
  vertical-align: bottom;
  display: flex;
  align-items: end;
}

.g-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  gap: 0.5rem;
}

.g-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.g-board {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 0.5rem;
}

.top-bar {
  width: 100%;
  min-height: 2rem;
  margin-bottom: 1rem;
}

.darken {
  background-color: rgba(0, 0, 0, 0.3);
}

.fill-100 {
  height: 100%;
  width: 100%;
}

.fill-width {
  width: 100%;
}

.inline-flex {
  display: inline-flex;
}

.header-element {
  display: inline-flex;
}

.header-element .bp5-control,
.header-element .bp5-control .bp5-control-indicator {
  margin: 0;
}

.tag-container {
  line-height: 0;
  margin: 0;
  padding: 0;
}

.bp5-dialog.card-popup {
  width: max(min(95vw, 500px), min(70vw, 1000px));
}

.card-portal .bp5-dialog-container {
  align-items: flex-start;
}

.bp5-large .bp5-button.not-large {
  padding: 5px 10px;
  min-height: 30px;
  min-width: 30px;
}

.desc-p.pointer {
  cursor: pointer;
}

.desc-p.wait {
  cursor: wait;
}

.desc-p {
  overflow-wrap: break-word;
  margin-left: 26px;
}

.bp5-card.bp5-compact.more-compact {
  padding: 12px;
}

.bp5-card.color-override.tag-color-blue,
.bp5-tag.color-override.tag-color-blue {
  background: #2d72d2;
}
.bp5-card.color-override.tag-color-blue.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-blue.bp5-interactive:hover {
  background-color: #215db0;
}
.bp5-card.color-override.tag-color-blue.bp5-interactive:active,
.bp5-tag.color-override.tag-color-blue.bp5-interactive:active {
  background-color: #184a90;
}
.bp5-card.color-override.tag-color-green,
.bp5-tag.color-override.tag-color-green {
  background: #238551;
}
.bp5-card.color-override.tag-color-green.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-green.bp5-interactive:hover {
  background-color: #1c6e42;
}
.bp5-card.color-override.tag-color-green.bp5-interactive:active,
.bp5-tag.color-override.tag-color-green.bp5-interactive:active {
  background-color: #165a36;
}
.bp5-card.color-override.tag-color-yellow,
.bp5-tag.color-override.tag-color-yellow {
  background: #fbb360;
}
.bp5-card.color-override.tag-color-yellow.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-yellow.bp5-interactive:hover {
  background-color: #ec9a3c;
}
.bp5-card.color-override.tag-color-yellow.bp5-interactive:active,
.bp5-tag.color-override.tag-color-yellow.bp5-interactive:active {
  background-color: #c87619;
}
.bp5-card.color-override.tag-color-red,
.bp5-tag.color-override.tag-color-red {
  background: #cd4246;
}
.bp5-card.color-override.tag-color-red.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-red.bp5-interactive:hover {
  background-color: #ac2f33;
}
.bp5-card.color-override.tag-color-red.bp5-interactive:active,
.bp5-tag.color-override.tag-color-red.bp5-interactive:active {
  background-color: #8e292c;
}
.bp5-card.color-override.tag-color-vermillon,
.bp5-tag.color-override.tag-color-vermillon {
  background: #d33d17;
}
.bp5-card.color-override.tag-color-vermillon.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-vermillon.bp5-interactive:hover {
  background-color: #b83211;
}
.bp5-card.color-override.tag-color-vermillon.bp5-interactive:active,
.bp5-tag.color-override.tag-color-vermillon.bp5-interactive:active {
  background-color: #96290d;
}
.bp5-card.color-override.tag-color-rose,
.bp5-tag.color-override.tag-color-rose {
  background: #db2c6f;
}
.bp5-card.color-override.tag-color-rose.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-rose.bp5-interactive:hover {
  background-color: #c22762;
}
.bp5-card.color-override.tag-color-rose.bp5-interactive:active,
.bp5-tag.color-override.tag-color-rose.bp5-interactive:active {
  background-color: #a82255;
}
.bp5-card.color-override.tag-color-violet,
.bp5-tag.color-override.tag-color-violet {
  background: #9d3f9d;
}
.bp5-card.color-override.tag-color-violet.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-violet.bp5-interactive:hover {
  background-color: #7c327c;
}
.bp5-card.color-override.tag-color-violet.bp5-interactive:active,
.bp5-tag.color-override.tag-color-violet.bp5-interactive:active {
  background-color: #5c255c;
}
.bp5-card.color-override.tag-color-indigo,
.bp5-tag.color-override.tag-color-indigo {
  background: #7961db;
}
.bp5-card.color-override.tag-color-indigo.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-indigo.bp5-interactive:hover {
  background-color: #634dbf;
}
.bp5-card.color-override.tag-color-indigo.bp5-interactive:active,
.bp5-tag.color-override.tag-color-indigo.bp5-interactive:active {
  background-color: #5642a6;
}
.bp5-card.color-override.tag-color-cerulean,
.bp5-tag.color-override.tag-color-cerulean {
  background: #147eb3;
}
.bp5-card.color-override.tag-color-cerulean.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-cerulean.bp5-interactive:hover {
  background-color: #0f6894;
}
.bp5-card.color-override.tag-color-cerulean.bp5-interactive:active,
.bp5-tag.color-override.tag-color-cerulean.bp5-interactive:active {
  background-color: #0c5174;
}
.bp5-card.color-override.tag-color-turquoise,
.bp5-tag.color-override.tag-color-turquoise {
  background: #13c9ba;
}
.bp5-card.color-override.tag-color-turquoise.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-turquoise.bp5-interactive:hover {
  background-color: #00a396;
}
.bp5-card.color-override.tag-color-turquoise.bp5-interactive:active,
.bp5-tag.color-override.tag-color-turquoise.bp5-interactive:active {
  background-color: #007067;
}
.bp5-card.color-override.tag-color-forest,
.bp5-tag.color-override.tag-color-forest {
  background: #43bf4d;
}
.bp5-card.color-override.tag-color-forest.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-forest.bp5-interactive:hover {
  background-color: #29a634;
}
.bp5-card.color-override.tag-color-forest.bp5-interactive:active,
.bp5-tag.color-override.tag-color-forest.bp5-interactive:active {
  background-color: #238c2c;
}
.bp5-card.color-override.tag-color-lime,
.bp5-tag.color-override.tag-color-lime {
  background: #b6d94c;
}
.bp5-card.color-override.tag-color-lime.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-lime.bp5-interactive:hover {
  background-color: #8eb125;
}
.bp5-card.color-override.tag-color-lime.bp5-interactive:active,
.bp5-tag.color-override.tag-color-lime.bp5-interactive:active {
  background-color: #5a701a;
}
.bp5-card.color-override.tag-color-gold,
.bp5-tag.color-override.tag-color-gold {
  background: #f0b726;
}
.bp5-card.color-override.tag-color-gold.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-gold.bp5-interactive:hover {
  background-color: #d1980b;
}
.bp5-card.color-override.tag-color-gold.bp5-interactive:active,
.bp5-tag.color-override.tag-color-gold.bp5-interactive:active {
  background-color: #866103;
}
.bp5-card.color-override.tag-color-sepia,
.bp5-tag.color-override.tag-color-sepia {
  background: #946638;
}
.bp5-card.color-override.tag-color-sepia.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-sepia.bp5-interactive:hover {
  background-color: #7a542e;
}
.bp5-card.color-override.tag-color-sepia.bp5-interactive:active,
.bp5-tag.color-override.tag-color-sepia.bp5-interactive:active {
  background-color: #5e4123;
}
.bp5-card.color-override.tag-color-dark-gray,
.bp5-tag.color-override.tag-color-dark-gray {
  background: #404854;
}
.bp5-card.color-override.tag-color-dark-gray.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-dark-gray.bp5-interactive:hover {
  background-color: #383e47;
}
.bp5-card.color-override.tag-color-dark-gray.bp5-interactive:active,
.bp5-tag.color-override.tag-color-dark-gray.bp5-interactive:active {
  background-color: #2f343c;
}
.bp5-card.color-override.tag-color-default,
.bp5-tag.color-override.tag-color-default {
  background: #c5cbd3;
}
.bp5-card.color-override.tag-color-default.bp5-interactive:hover,
.bp5-tag.color-override.tag-color-default.bp5-interactive:hover {
  background-color: #abb3bf;
}
.bp5-card.color-override.tag-color-default.bp5-interactive:active,
.bp5-tag.color-override.tag-color-default.bp5-interactive:active {
  background-color: #8f99a8;
}
.bp5-card.color-override.tag-color-blue label .bp5-control-card-label,
.bp5-card.color-override.tag-color-red label .bp5-control-card-label,
.bp5-card.color-override.tag-color-green label .bp5-control-card-label,
.bp5-card.color-override.tag-color-vermillon label .bp5-control-card-label,
.bp5-card.color-override.tag-color-rose label .bp5-control-card-label,
.bp5-card.color-override.tag-color-violet label .bp5-control-card-label,
.bp5-card.color-override.tag-color-indigo label .bp5-control-card-label,
.bp5-card.color-override.tag-color-cerulean label .bp5-control-card-label,
.bp5-card.color-override.tag-color-sepia label .bp5-control-card-label,
.bp5-card.color-override.tag-color-dark-gray label .bp5-control-card-label,
.bp5-tag.color-override.tag-color-blue span,
.bp5-tag.color-override.tag-color-red span,
.bp5-tag.color-override.tag-color-green span,
.bp5-tag.color-override.tag-color-vermillon span,
.bp5-tag.color-override.tag-color-rose span,
.bp5-tag.color-override.tag-color-violet span,
.bp5-tag.color-override.tag-color-indigo span,
.bp5-tag.color-override.tag-color-cerulean span,
.bp5-tag.color-override.tag-color-sepia span,
.bp5-tag.color-override.tag-color-dark-gray span {
  color: #ffffff;
}
.bp5-card.color-override.tag-color-yellow label .bp5-control-card-label,
.bp5-card.color-override.tag-color-turquoise label .bp5-control-card-label,
.bp5-card.color-override.tag-color-forest label .bp5-control-card-label,
.bp5-card.color-override.tag-color-lime label .bp5-control-card-label,
.bp5-card.color-override.tag-color-gold label .bp5-control-card-label,
.bp5-card.color-override.tag-color-default label .bp5-control-card-label,
.bp5-tag.color-override.tag-color-yellow span,
.bp5-tag.color-override.tag-color-turquoise span,
.bp5-tag.color-override.tag-color-forest span,
.bp5-tag.color-override.tag-color-lime span,
.bp5-tag.color-override.tag-color-gold span,
.bp5-tag.color-override.tag-color-default span {
  color: #1c2127;
}
